<div  layout="column" ng-cloak class="divMainFormPage">

    <md-input-container class="md-block">
        <label class="labelTitlePages">{{title}}</label>
    </md-input-container>

    <form name="userForm" layout="column" >
        <md-input-container class="md-block inputFirstNameForm">
            <label>Nome*</label>
            <input ng-model="user.firstName" required name="firstNameInput"  ng-pattern="/^[a-zA-Z]+/">
            <div ng-messages="userForm.firstNameInput.$error">
                <div ng-message="required">É obrigatório informar um nome.</div>
                <div
                    ng-message="pattern" class="my-message">Não são permitidos caracteres especiais ou números no campo nome
                </div>
            </div>
        </md-input-container>

        <div layout="row">
            <md-input-container class ="inputContainerLastName" flex="80" class="md-block" >
                <label>Sobrenome*</label>
                <input ng-model="user.lastName" required name="lastNameInput"  ng-pattern="/^[a-zA-Z]+/">
                <div ng-messages="userForm.lastNameInput.$error">
                    <div ng-message="required">É obrigatório informar um sobrenome.</div>
                    <div
                        ng-message="pattern" class="my-message">Não são permitidos caracteres especiais ou números no campo sobrenome
                    </div>
                </div>
            </md-input-container>


            <div layout="column" class="inputBirthdayForm">
                <label class="inputPlaceHolderFormBirthday">Data de nascimento*</label>
                <md-datepicker ng-model="user.birthday" md-placeholder="Nascimento" required>
            </div>


        </div>

        <div layout="row">
            <md-input-container flex="80" class="md-block">
                <label>Endereço*</label>
                <input ng-model="user.address" required name="emailInput">
                <div ng-messages="userForm.emailInput.$error">
                    <div ng-message="required">É obrigatório informar um endereço.</div>
                </div>
            </md-input-container>

            <md-input-container  class="md-block inputAddressComplementForm">
                <label>Complemento</label>
                <input ng-model="user.addressComplement" >
            </md-input-container>
        </div>

        <div layout="row" flex>
            <md-input-container class="md-block inputDistrictForm" flex="30">
                <label >Bairro*</label>
                <input ng-model="user.district" required name="districtInput">
                <div ng-messages="userForm.districtInput.$error">
                    <div ng-message="required">É obrigatório informar um bairro.</div>
                </div>
            </md-input-container>

            <span flex="5"></span>

            <div layout="column" class="inputTelephoneForm">
                <label class="inputPlaceHolderForm">Telefone Fixo*</label>
                <md-input-container class="inputContainersForm" flex="30" align="end">
                    <input aria-label="telephone" ng-model="user.telephone" required name="telephoneInput" ui-mask="(99) 9999-9999">
                    <div ng-messages="userForm.telephoneInput.$error">
                        <div ng-message="required">É obrigatório informar um telefone.</div>
                    </div>
                </md-input-container>
            </div>

            <span flex="5"></span>

            <div layout="column">
                <label class="inputPlaceHolderForm">Celular</label>
                <md-input-container class="inputContainersForm" flex="30" align="end">
                    <input aria-label="mobilePhone" ng-model="user.mobilePhone" ui-mask="(99) 99999-9999">
                </md-input-container>
            </div>

        </div>

        <div layout="row">
            <div layout="column" flex="50">
                <label class="inputPlaceHolderForm">RG*</label>
                <md-input-container class="md-block inputContainersForm">
                    <input aria-label="rg" ng-model="user.rg" required name="rgInput" ui-mask="9999.9999.99-999">
                    <div ng-messages="userForm.rgInput.$error">
                        <div ng-message="required">É obrigatório informar um RG.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column" flex="50" class="divInputCpf">
                <label class="inputPlaceHolderForm">CPF*</label>
                <md-input-container class="md-block inputContainersForm">
                    <input aria-label="cpf" ng-model="user.cpf" required name="cpfInput" ui-mask="999.999.999-99">
                    <div ng-messages="userForm.cpfInput.$error">
                        <div ng-message="required">É obrigatório informar um CPF.</div>
                    </div>
                </md-input-container>
            </div>

        </div>

        <div layout="row" layout-align="space-between stretch">
            <md-input-container class="md-block" >
                <label>Estado</label>
                <md-select ng-model="user.state">
                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                        {{state.abbrev}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex=50 class="md-block">
                <label>Cidade</label>
                <input ng-model="user.city">
            </md-input-container>

            <div layout="column" flex="30">
                <label class="inputPlaceHolderForm">Código Postal</label>
                <md-input-container class="md-block inputContainersForm">
                    <input aria-label="postcode" ng-model="user.postcode" ui-mask="99999 - 999">
                </md-input-container>
            </div>
        </div>
    </form>

    <div layout="row" layout-align="end center" class="divFootPageFormPage">
        <md-button ng-disabled="false" ng-click="clearForm(userForm) ">{{titleOfClearButton}}</md-button>
        <md-button class="md-raised md-primary" ng-disabled="userForm.$invalid" ng-click="addUpdateUser(user)">{{titleOfButton}}</md-button>
    </div>

</div>

