<div class="divMainListPage" ng-init="orderByFunctionInit('id')">

    <md-input-container class="md-block">
        <label class="labelTitlePages">Tabela de usuários</label>
        <!--<h3 class="divTitleListPage">Tabela de usuários</h3>-->
    </md-input-container>

    <div layout="row" class="divSearchList">
        <input class="form-control inputSearchTable" type="text" ng-model="searchCriteria" placeholder="O que você está buscando ?"/>
        <md-icon class="material-icons md-dark iconMagnifyingGlass">search</md-icon>
    </div>

    <!--{{message}}-->

    <div layout="row" layout-align="end center" class="divDeleteUsers">
        <md-button ng-click="deleteUsers(users)" ng-disabled="!someoneSelected(users)">Apagar selecionados</md-button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th><a href="" ng-click="orderByFunction('id')">Id</a></th>
                <th><a href="" ng-click="orderByFunction('firstName')">Nome</a></th>
                <th><a href="" ng-click="orderByFunction('mobilePhone')">Telefone</a></th>
                <th><a href="" ng-click="orderByFunction('birthday')">Data de nascimento</a></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-class="{selected: user.selected}" ng-repeat="user in users | filter: searchCriteria | orderBy: orderCriteria: orderDirection">
                <td></td>
                <td>
                    <md-checkbox class="checkBoxForDelete" aria-label="selected" ng-model="user.selected"></md-checkbox>
                </td>
                <td style="vertical-align: middle">{{user.id}}</td>
                <td style="vertical-align: middle">{{user.firstName + " " +user.lastName}}</td>
                <td style="vertical-align: middle">{{refatoringTelephoneFormat(user.telephone)}}</td>
                <td style="vertical-align: middle">{{user.birthday | date: 'dd/MM/yyyy'}}</td>
                <td style="vertical-align: middle">
                    <md-button class="md-fab md-mini" href="#/cadastro?action=Editar&id={{user.id}}">
                        <md-icon class="material-icons md-dark">create</md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" ng-click="deleteOneUser(user)">
                        <md-icon class="material-icons md-dark" ">delete</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>

    <!--<md-list-item ng-repeat="user in users" ng-click="goToPerson(person.name, $event)" class="noright">
        <md-checkbox ng-model="user.selected"></md-checkbox>
        <p>{{ user.id }}</p>
        <p>{{ user.firstName + " " + user.lastName}}</p>
        <p>{{ user.telephone }}</p>
        <p>{{ user.birthday }}</p>
        <md-button class="md-fab md-mini">
            <md-icon class="material-icons md-dark">update</md-icon>
        </md-button>
        <md-button class="md-fab md-mini">
            <md-icon class="material-icons md-dark">delete</md-icon>
        </md-button>
        &lt;!&ndash;<md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>&ndash;&gt;
    </md-list-item>-->

    <!--{{users}}-->
</div>